/*------------------------------------*\
    $HOUSEKEEPING
\*------------------------------------*/
*{ margin:0; padding:0; box-sizing: border-box; }
html{
    padding:5%;
    font-family:"Avenir", Helvetica, serif;
    overflow-y:scroll;
}
ul{
    margin-bottom:1.5em;
    margin-left:1.5em;
}
a{
    text-decoration:none;
}
h7 {
  display: block;
  font-family: Merriweather;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.59;
  color: #555555;
  padding-bottom: 6px;
}

/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Throw any `ul` or `ol` into horizontal mode, as per csswizardry.com/2011/09/the-nav-abstraction.
   <ul class=nav>
       <li><a href=/>Home</a></li>
       <li><a href=/about>About</a></li>
       <li><a href=/portfolio>Portfolio</a></li>
       <li><a href=/contact>Contact</a></li>
   </ul>
 */
.nav{
    list-style:none;
    margin-left:0;
    /* width: 200px; */
    display: inline-block;
    /* padding-right: 10px; */

}
.nav > li,
.nav > li > a{
    display: block;
    *display:inline;
    zoom:1;
}

/**
 * Create a vertically stacked nav by extending `.nav` with `.stacked`.
   <ul class="nav stacked">
       <li><a href=/>Home</a></li>
       <li><a href=/about>About</a></li>
       <li><a href=/portfolio>Portfolio</a></li>
       <li><a href=/contact>Contact</a></li>
   </ul>
 */
.stacked > li{
    display:list-item;
}
.stacked > li > a{
    display:block;
}

.site-nav{
    position: relative
}



/*------------------------------------*\
    $FLYOUT
\*------------------------------------*/
/**
 * Flyouts are pieces of content that fly out of a parent when said parent is hovered.
 * They typically appear bottom-left of the parent.
   <div class=flyout>
       Foo
       <div class=flyout-content>
           <h1>Lorem</h1>
           <p>Ipsum</p>
       </div>
   </div>
 */
.flyout,
.flyout-alt{
}
.flyout-content{
    /* Position the flyouts off-screen. This is typically better than `display:none;`. */
    position:absolute;
    top:100%;
    left:-99999px;
    /**
     * Even though they are out of document flow, lots of nested flyouts can
     * eventually force scroll bars to appear as they become taller than the viewport.
     * We can undo this effect by giving them zero height.
     */
    height:0;
    overflow:hidden;
}

/**
 * Bring the flyouts into view when you hover their parents.
 * Two different types of flyout; ‘regular’ (`.flyout`) and ‘alternative’ (`.flyout-alt`).
 */
/* Regular flyouts sit all the way from the top, flush left. */
.clicked > .flyout-content{
    left: 100%;
    top: 0;
}

/* HOVER ONLY ON DESKTOP BROS */


  /* Alternative flyouts sit all the way from the left, flush top. */
  /* .flyout-alt:hover > .flyout-content{
      top:100%;
      left: 100%;
  } */


.clicked > .flyout-content{
    /* Give the flyouts their height back once they come into view. */
    height:auto;
    overflow:visible;
}




/*------------------------------------*\
    $SITE-NAV
\*------------------------------------*/
/**
 * Site nav specific styling.
 * Extends `.nav{}`
 */
.site-nav{
    font-size: 15px;
}
.site-nav a{
    line-height:1;
    padding: 13px;
    background-color: #f1f2f2;
    color: #868686;
    white-space:nowrap;
    white-space: normal;
    min-width: 193px;
    width: 193px;
}

/*--- SITE-NAV FLYOUTS ---*/
/**
 * Site nav specific flyouts, extension of `.flyout`.
 * Set up some styles to apply and persist when we hover things in the site nav.
 * This allows us to keep parents highlighted as we hover their contained flyouts [1].
 */
.site-nav .flyout:hover > a /* [1] */,
.site-nav .flyout-alt:hover > a /* [1] */,
.site-nav .clicked > a,
.site-nav .first-item.clicked > a {
    /* background-color:#e5e5e5;
    color:#868686; */
    background-color: #7dc0f0;
    color: white;
}

/**
 * Add an indicator to any flyout parents in the site nav to show there’s a flyout.
 */
.site-nav .flyout-alt > a:after{
    content:" ";
}

/**
 * Here we set up a load of shared borders on the site-nav specific flyouts.
 * The code looks a little scattered but it allows us to cleverly share declarations:
 * We set up a non-existent [1] solid [2] border on all sides of the relevant elements.
 * We can now also change the style [2] and colour [3] of all borders in one go.
 * Now we have set up border colours and styles, we need to just turn the desired borders ‘on’ [4].
 */
.site-nav a,
.site-nav .flyout-content{
    border:0     /* [1] */
    solid /* [2] */
    #fff  /* [3] */;
}
.site-nav > li > a{
    /* border-left-width:1px; /* [4] */
}
/* The first link in the site-nav doesn’t require a border at all. */
.site-nav > li:first-child > a{
    /*border:none;   */
}
.site-nav .flyout-content{
    /*border-width:1px 0 0 1px; */ /* [4] */
    background-color: #f1f2f2;
    height: 100%;
    border-left: 6px solid white;
}
.site-nav .flyout-content a{
    border-bottom-width:0px; /* [4] */
}
.site-nav .flyout-alt:hover > .flyout-content{
    /**
     * To account for the 1px top border on the flyout containers, we need to
     * bring the flyouts back up by 1px in this special instance.
     */
    top:0px;
}

.site-nav a {
  display: inline-block;
	position: relative;
	background: #f1f2f2;
	border: 0px solid #ffffff;
  padding-left: 24px;
}

/* Desktop */

@media only screen and (min-width: 1024px) {

/* Arrow */

.clicked > a:after, .clicked > a:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
  z-index: 10000;
	pointer-events: none;
}
.clicked > a:after {
	border-color: rgba(241, 242, 242, 0);
	border-left-color: #7dc0f0;
	border-width: 20px;
	margin-top: -20px;
}
.clicked > a:before {
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
	border-width: 28px;
	margin-top: -28px;
}

/* Captions */

.site-nav h7 {
  position: absolute;
  top: -36px;
}

}

/* OPA > 1 > 15my */

/* First items first (BIG) */

.site-nav .first-item > a {
  color: #283461;
  font-weight: bold;
  padding: 20px 32px;
  /* margin-top: 5px; */
  border-bottom: 6px solid white;
  display: inline-block;
  min-width: 220px;
}

.site-nav .first-item:last-child > a {
  border: 0;
}

.site-nav .first-item img {
  margin-right: 24px;
}

.site-nav .first-item > a > span {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
}

/* Wrapper */

#ms-wrapper {
  /* background-color: #f1f2f2; */
}

/* Mobile */

@media only screen and (max-width: 1023px) {
  .site-nav {
    width: 100%;
  }
  .site-nav .flyout {
    display: block;
    width: 100%;
    /* border-bottom: 6px solid white; */
  }
  .site-nav .flyout-content {
    display: block;
    width: 100%;
    border-left: 0;
    /* border-top: 6px solid white; */
  }
  .site-nav a {
    display: block;
    width: 100%;
  }
  .site-nav .flyout-alt.clicked > a {
    border-bottom: 6px solid white;
    border-top: 6px solid white;
  }
  .clicked > a:after, .clicked > a:before {
    top: 100%;
  	left: 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
    z-index: 10000;
  }
  .clicked > a:after {
    border-color: rgba(142, 189, 228, 0);
  	border-top-color: #7dc0f0;
  	border-width: 20px;
  	margin-left: -20px;
  }
  .clicked > a:before {
    border-color: rgba(255, 255, 255, 0);
  	border-top-color: #ffffff;
  	border-width: 28px;
  	margin-left: -28px;
  }
  .flyout-alt {
    position: static;
  }
  .clicked > .flyout-content{
      /* Give the flyouts their height back once they come into view. */
      height:auto;
      overflow:visible;
      position: static;
  }
  h7 {
    padding-top: 16px;
    padding-left: 24px;
    padding-bottom: 8px;
  }
}
